#about {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

#about h2 {
    margin-bottom: 0;
}

#about h5 {
    margin-top: 5px;
}