html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
}

select {
    font: inherit;
}

canvas {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

#map, #equirectangular-map {
    position: absolute;
    pointer-events: none;
    right: 0;
    opacity: 0;
}

#map {
    bottom: 0;
    transform: scale(.1);
    transform-origin: bottom right;
}

#equirectangular-map {
    transform: scale(.1);
    transform-origin: top right;
}

#options {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99999;
    text-align: right;
}

#options[hidden] {
    display: block;
    opacity: .5;
    pointer-events: none;
}

#options select, #options label {
    padding: .5em;
    display: inline-block;
    vertical-align: middle;
}

#container canvas {
    vertical-align: top;
}

#container > div {
    bottom: 0;
    top: auto !important;
}

footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: .75;
}

footer a {
    color: inherit;
}

#loader {
    position: absolute;
    left: 10px;
    top: 10px;
    animation: fade .5s infinite ease-in-out alternate;
}

@keyframes fade {
    0% {
        opacity: .3
    }
    100% {
        opacity: 1
    }
}

.fullscreen #options, .fullscreen footer {
    display: none;
}