.panel {
    position: absolute;
    right: 0;
    height: 55%;
    width: 35%;
    background: white;
    margin-right: 25px;
    margin-top: 25px;
    border-radius: 8px;
    color: black;
}

.panel > .content {
    margin: 25px;
}

.panel > .content h1 {
    font-weight: 400;
    margin-bottom: 0;
}

.panel > .content h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 300;
}

.panel > .content h4 {
    margin-top: 10px;
    font-weight: 300;
    color: rgba(0,0,0,0.7);
}